@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<LibreriasReto.DTO.ClienteDTO>;

<h2 class="mb-3">Mantenimiento Clientes</h2>
<a asp-controller="Cliente" asp-action="Create" class="btn btn-success mb-3">Nuevo</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dni</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Estado</th>
            <th style="text-align: center;" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdCliente</td>
                <td>@item.Dni</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@(item.EsActivo == true ? "Activo" : "Inactivo")</td>
                <td><a asp-controller="Cliente" asp-action="Update" asp-route-id="@item.IdCliente">Editar</a></td>
                <td><a asp-controller="Cliente" asp-action="Delete" asp-route-id="@item.IdCliente">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>


