@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model LibreriasReto.DTO.LibroDTO;

<h2>Esta seguro que deseas eliminar el libro: </h2>

<div class="row">
    <div class="col-sm-8 offset-ms-2">
        <form asp-controller="Libro" asp-action="Delete" method="post">
            <div class="mb-3">
                <label>ID</label>
                <input class="form-control" asp-for="IdLibro" type="number" value="@Model.IdLibro" readonly />
            </div>
            <div class="mb-3">
                <label>Libro</label>
                <input class="form-control" asp-for="IdLibro" type="text" value="@Model.Nombre" readonly />
            </div>
            <div class="mb-3">
                <label>Autor</label>
                <input class="form-control" asp-for="Autor" type="text" value="@Model.Autor" readonly />
            </div>
            <div class="mb-3">
                <label>Editorial</label>
                <input class="form-control" asp-for="Editorial" type="text" value="@Model.Editorial" readonly />
            </div>
            <div class="mb-3">
                <label>Precio</label>
                <input class="form-control" asp-for="Precio" type="number" value="@Model.Precio" readonly />
            </div>
            <div class="mb-3">
                <label>Publicacion</label>
                <input class="form-control" asp-for="AnioPublicacion" type="text" value="@Model.AnioPublicacion" readonly />
            </div>
            <div class="mb-3">
                <button class="btn btn-danger" type="submit">Desactivar</button>
                <a asp-controller="Libro" asp-action="Lista" style="border: 1px solid blue;" class="btn">Volver</a>
            </div>
        </form>
    </div>
</div>
