@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model LibreriasReto.DTO.LibroDTO;

<div class="row">
    <div class="col-sm-8 offset-ms-2">
        <h2>Editar Libro</h2>
        <form asp-controller="Libro" asp-action="Update" method="post">            
        <div class="mb-3">
            <label>ID</label>
            <input class="form-control" asp-for="IdLibro" type="number" value="@Model.IdLibro" readonly />
        </div>
            <div class="mb-3">
                <label >Genero</label>
                <select asp-for="IdGenero" asp-items="@ViewBag.GENEROS" class="form-select"></select>
            </div>
            <div class="mb-3">
                <label>Libro</label>
                <input class="form-control" asp-for="Nombre" type="text" value="@Model.Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Autor</label>
                <input class="form-control" asp-for="Autor" type="text" value="@Model.Autor" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Editorial</label>
                <input class="form-control" asp-for="Editorial" type="text" value="@Model.Editorial" />
                <span asp-validation-for="Editorial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Precio</label>
                <input class="form-control" asp-for="Precio" type="number" value="@Model.Precio" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Publicacion</label>
                <input class="form-control" asp-for="AnioPublicacion" type="text" value="@Model.AnioPublicacion" />
                <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Imagen</label>
                <input class="form-control" asp-for="urlImagen" type="text" placeholder="url" value="@Model.urlImagen" />
                <span asp-validation-for="urlImagen" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Actualizar</button>
                <a asp-controller="Libro" asp-action="Lista" style="border: 1px solid blue;" class="btn">Volver</a>
            </div>
        </form>
    </div>
</div>
